<div class="container mt-3">
  <h5><%= part.name %></h5>
  <p><%= part.start_date.strftime("%b %e") %> to <%= part.end_date.strftime("%b %e, %Y") %></p>
  <p class="font-italic"><%= part.city.name %></p>
</div>
