// Import page-specific CSS files here.
@import "home";
@import "show_view";


.text-title{
  align-item: start;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.hero-image-index{
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://source.unsplash.com/1600x900/?travel");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  margin-bottom: 35px;

}

.card-product h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.index {
  margin-bottom: 330px;

}

.container-new {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 180px;
  margin-bottom: 180px;
}


