// Import page-specific CSS files here.
@import "home";
@import "show_view";
@import "profile_view";
@import "new_trip_view";

body{
  background-color: white;
  font-family: Roboto;
}

.trip-name {
  color: black;
}

.card-link:hover {
  text-decoration: none;
}

.text-title{
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration-line: underline;
}

.hero-image-show{
  justify-content: center;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://source.unsplash.com/1600x900/?travel");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.hero-image-trips{
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://source.unsplash.com/1600x900/?travel");
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  width: 500px;
  text-decoration: none;
}

.card-product h6 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;

}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 12px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.index {
  margin-bottom: 330px;

}





