// Import page-specific CSS files here.
@import "home";

.text-title{
  align-item: start;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
}

.hero-image-index{
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://source.unsplash.com/1600x900/?travel");
  height: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 20px;
}


.card-text{
  margin-left: 15px;
  margin-top: 5px;
  align-items: center;


}
