.page_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 30px;
}

.trip_title{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 50px;
}

.trip_container{
  padding-top: 0px;
  margin-top: 0px;
  width: 110%;
  margin-right: 30px;
}

.map-img {
  border-radius: 25px;
  margin-bottom: 20px;
}


.card-trip {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  // margin-top: 5px;
}

.card-trip h1 {
  font-size: 16px;
  // font-weight: bold;
  margin: 0;
}
.card-trip h2 {
  font-size: 12px;
  // font-weight: bold;
  margin: 0;
  opacity: .7;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.delete {
  margin-left: 12px;


}

.delete a {
  color: #5A929E;

}

.card-tripo {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius:5px;
}

.card-tripo > img {
  height: 250px;
  width: 100%;
  object-fit: cover;

  align: center
}

.card-tripo h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}

.card-tripo h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.card-tripo p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-tripo .card-tripo-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-tripo-infos .card-tripo-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height:40px;
}


.btn-secondary{

background: #86918E;
margin-top: 16px;
padding: 4px 12px 4px 12px;
border-radius:2px;
border:none;
}

.btn-light{
  margin-bottom: -15px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.show-container{
  padding-bottom: 20px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;

}

.nav-item a{
  color: #5A929E;
}
