.autocomplete {
  position: relative;
  display: inline-block;
  background-color: white;
  z-index: 99;
  width: 100%;
}

.results {
  position: absolute;
  top: 87%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 0.5px solid $form-border-gray;
  // border-color: black;
  padding-top: 20px;
  padding: 10px;
  margin-left: 6.4px;
  margin-right: 6.4px;
  // border-radius: 25px;
  z-index: -1;
  width: 100%;
}

.results:empty {
    display: none;
}

.result_item{
  color: gray;
  background: white;
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  // border-bottom: 1px solid gray;
}

.result_item:hover{
  // text-decoration: underline;
  background: white;
  color: black;
  font-weight: bold;
}

.page_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  // padding: 30px;
  padding-top: 30px;
  // padding-left: 30px;
  // padding-right: 30px;
}

.trip_title{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 50px;
}

.trip_container{
  padding-top: 0px;
  margin-top: 0px;
  width: 110%;
  margin-right: 30px;
}

.map-img {
  border-radius: 25px;
  margin-bottom: 20px;
}


.card-trip {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  // margin-top: 5px;
}

.card-trip h1 {
  font-size: 16px;
  // font-weight: bold;
  margin: 0;
}
.card-trip h2 {
  font-size: 12px;
  // font-weight: bold;
  margin: 0;
  opacity: .7;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

}

.card-notes {
  display: flex;
  align-items: center;
  font-size: 12px;
  opacity: .7;
  margin: 3;
  padding-left: 10px;
  padding-top: 4px;
  font: italic;
  color: #989898;
}

.delete {
  margin-left: 3px;


}

.delete a {
  color: #5A929E;

}

.nobr {
  color: #989898;
}

.card-tripo {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  border-radius:5px;
}

.card-tripo > img {
  height: 250px;
  width: 100%;
  object-fit: cover;

  align: center
}

.card-tripo h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 4px;
}

.card-tripo h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.card-tripo p {
  font-size: 14px;
  opacity: .7;
  margin: 0;
}


.card-tripo .card-tripo-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-tripo-infos .card-tripo-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
  height:40px;
}


.btn-secondary{

background: #86918E;
margin-top: 16px;
padding: 4px 12px 4px 12px;
border-radius:2px;
border: none;
}
.btn-secondary:hover{
background:#5A929E;
}

.btn-delete{

background: #86918E;
margin-top: 16px;
padding: 8px 12px 8px 12px;
border-radius:2px;
border: none;
color: white;
}
.btn-delete:hover{
background:#CD5C5C;
color: white;
}

.btn-light-2{
  margin-bottom: -15px;
  margin-right: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #86918E;
  color: white;
}
.btn-light{

  border: none;
  color:#86918E;
  padding-top:7px;
  padding-bottom:7px;

}

.btn-circle-btn-gray {
  width: 40px;
  height: 40px;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background: #D3D3D3;
  color: white;
}
.btn-circle-btn-gray:hover{
  background: #5A929E;
  color: white;
}

.btn-light-2:hover{
  color: white;
  background:#5A929E;

}

.show-container{
  // padding-bottom: 20px;
  padding-top: 0px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 30px;
}

.nav-item a{
  color: #5A929E;
}

.modal-footer{
  margin-bottom: 30px;
  padding-top: 0px;
  border-color: white;
}

p,
label {
    font-weight: bold;
    font-size: 12px;
}

input {
    margin: .4rem;

}


form{
font-size: 12px;
font-weight: bold;
}


.checkbox{
  margin-top: 50px;
}

.checkbox p{
  font-size: 12px;
 font-weight: bold;
 margin-bottom: 0px;


}

input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        // position: relative;
        background-color: white;
        content: '';
        visibility: visible;
        // border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: white;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 5px solid #5A929E;

    }




.form-check-input.is-valid ~ .form-check-label {
    color: #5A929E;
}



.fa-edit {
    color: #D3D3D3;
}

.fa-edit:hover {
    color: #5A929E;
}


.fa-trash-alt {
    color: #D3D3D3;
}

.fa-trash-alt:hover {
    color: #F4796B;
}


button#part_accordion.btn.btn-light.btn-lg.btn-block.m-0.p-2{
  height: 60px;
}

