.page_container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 30px;
}

.trip_title{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 50px;
}

.trip_container{
  padding-top: 0px;
  margin-top: 0px;
  width: 110%;
  margin-right: 30px;
}
