<div class="profile-container">
  <div class="info-container">
    <p> > &ensp;&ensp;My Profile</p>
<!--     <div class="card-profile">
      <div class="card-profile-infos"> -->
       <%= cl_image_tag current_user.try(:photo)&.key, :width => 300, :height => 300 , :crop => :fill, class:"avatar" %>
     <!--  </div>
    </div> -->

    <div class="card-profile">
      <div class="card-profile-infos">
        <h3>Legal name</h3>
        <p><%= current_user.name %></p>
      </div>
    </div>

    <div class="card-profile">
      <div class="card-profile-infos">
        <h3>Date of birth</h3>
        <p>Not provided</p>
      </div>
    </div>

    <div class="card-profile">
      <div class="card-profile-infos">
        <h3>Email adress</h3>
        <p><%= current_user.email %></p>
      </div>
    </div>

    <div class="card-profile">
      <div class="card-profile-infos">
        <h3>Phone number</h3>
        <p>Not provided</p>
      </div>
    </div>

    <div class="card-profile">
      <div class="card-profile-infos">
        <h3>City</h3>
        <p>Not provided</p>
      </div>
    </div>

    <div class="card-profile">
      <div class="card-profile-infos">
        <h3>About</h3>
        <p>Description not provided</p>
      </div>
    </div>

  </div>
</div>

