 .card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
  margin: 50px;



.card-text{
  margin-left: 15px;
  margin-top: 5px;
  align-items: start;


}
