.map_format {
  position: sticky;
  top: 0;
  right: 0;
}

#map {
  position: sticky;
  top: 0;
  right: 0;
  padding-top: 15px;
}

// .map_container{
//   display: flex;
//   flex-direction: column;
// }

// .map_margin{
//   height: 15px;
// }

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
