.navbar-lewagon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background: #f8f9fa;
  background: white;
  padding: 8px 16px;
   // border-bottom: 1px solid #DFDFDF;



}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;

}

.navbar-brand {
color: #86918E!important;
}

.navbar-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 8px;
  margin-bottom: 0;
  list-style: none;



}

.navbar-logo{
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.navbar-brand{
  font-weight: bold;
}




.navbar-nav .nav-link{

  color: #86918E !important;
}

.navbar-nav .nav-link:hover{
  color: #5A929E !important;
}

.text-center-m-5 h2 {
color: #86918E!important;
}

